:root{
    ---font-principal: 'Inter', sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #242424;
    height: 96.7vh;
}
#form{
    display: flex;
    flex-direction: column;
    background-color: #dbdbdb;
    padding: 2rem;
    border-radius: 10px;
    gap: .4rem;
}
#form input{
    padding: .6rem;
    border-radius: 5px;
    border: 1px solid #242424;
    outline: none;
    font-size: 1.1rem;
    transition: .2s;
}
#form button{
    margin-top: .8rem;
    background-color: #00e1ff;
    padding: .8rem;
    border: 1px solid #242424;
    border-radius: 5px;
    font-size: 1rem;
    transition: .2s;
}
#form button:hover{
    background-color: #0a8d9e;
    color: #fff;
    cursor: pointer;
}
#form input:hover{
    background-color: #cecece;
}
#logradouro,
#bairro{
    display: none;  
}
label[for = "logradouro"]{
    display: none;
}
label[for = "bairro"]{
    display: none;
}